# Data Cleaning

Last edited: 1/1/2024

---

This notebook documents the process for cleaning the original dataset.

In [8]:
# import libraries to manipulate the data
import pandas as pd

In [9]:
# load the dataset
df = pd.read_csv('Video Games Sales.csv', index_col='index')
df.head()

,Rank,Game Title,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Review
index,,,,,,,,,,,,
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,40.43,28.39,3.77,8.54,81.12,76.28
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,91.00
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,14.50,12.22,3.63,3.21,33.55,82.07
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,14.82,10.51,3.18,3.01,31.52,82.65
4,5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,88.00

In [10]:
# inspect the dataset for missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1907 entries, 0 to 1906
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           1907 non-null   int64
 1   Game Title     1907 non-null   object
 2   Platform       1907 non-null   object
 3   Year           1878 non-null   float64
 4   Genre          1907 non-null   object
 5   Publisher      1905 non-null   object
 6   North America  1907 non-null   float64
 7   Europe         1907 non-null   float64
 8   Japan          1907 non-null   float64
 9   Rest of World  1907 non-null   float64
 10  Global         1907 non-null   float64
 11  Review         1907 non-null   float64
dtypes: float64(7), int64(1), object(4)
memory usage: 193.7+ KB

First, a visual inspection of the unique values of the various columns is conducted to identify any special values which need special attention. In this dataset, the Producer attribute has a special 'Unknown' value which is used to indicate missing data.

In [22]:
# inspect rank for uniqueness
df['Rank'].nunique()

1907

In [18]:
# inspect unique values for wrong values
df['Platform'].unique()

array(['Wii', 'NES', 'GB', 'DS', 'PS2', 'SNES', 'X360', 'GBA', 'PS3',
       'N64', 'PC', 'PS', 'XB', '3DS', 'PSP', 'GC', 'GEN', 'DC', 'SAT',
       'WiiU', 'SCD', 'PSV'], dtype=object)

In [19]:
sorted(df['Year'].unique())

array([2006., 1985., 2008., 2009., 1989., 1984., 2005., 1999., 2007.,
       2004., 1990., 2010., 1988., 2002., 2001., 2011., 1998., 1996.,
       2012., 2000., 1992., 1997., 1993., 1994., 2003., 1986., 1995.,
       1991., 1987., 1983., 2013.])

In [20]:
df['Genre'].unique()

array(['Sports', 'Platform', 'Racing', 'Puzzle', 'Misc', 'Shooter',
       'Simulation', 'Role-Playing', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

In [21]:
df['Publisher'].unique()

array(['Nintendo', 'Take-Two Interactive', 'Microsoft Game Studios',
       'Sony Computer Entertainment', 'Activision', 'Electronic Arts',
       'Ubisoft', 'Red Orb', 'Square', 'Bethesda Softworks', 'Capcom',
       '505 Games', 'GT Interactive', 'Konami Digital Entertainment',
       'Sega', 'Square Enix', 'Virgin Interactive',
       'Universal Interactive', 'Eidos Interactive', 'RedOctane',
       'LucasArts', 'Atari', 'Vivendi Games', 'Enix Corporation',
       'Namco Bandai Games', 'Warner Bros. Interactive Entertainment',
       'Hasbro Interactive', 'THQ', 'Disney Interactive Studios',
       'Acclaim Entertainment', 'Level 5', 'MTV Games', 'Codemasters',
       'id Software', 'Havas Interactive', 'Majesco Entertainment',
       'Midway Games', 'Hudson Soft', 'JVC', 'Valve Software',
       '989 Studios', 'Maxis', 'Square EA', 'Tecmo Koei', 'Gotham Games',
       'Deep Silver', 'Infogrames', 'Arena Entertainment', 'Mindscape',
       'Banpresto', 'NCSoft', 'Crave Entertainment', 'D3Publisher',
       'Red Storm Entertainment', 'Video System', 'Global Star',
       'Westwood Studios', 'Fox Interactive', 'Valve', 'TDK Mediactive',
       'ASC Games', 'Rising Star Games', 'Accolade',
       'Sony Online Entertainment', '3DO', 'Natsume',
       'Pacific Century Cyber Works', 'GameBank', 'RTL',
       'Black Label Games', 'SouthPeak Games', 'Ocean', 'Psygnosis',
       'Empire Interactive', 'Success', 'Russel', 'Agetec', 'Microprose',
       'Play It', 'City Interactive', 'Sammy Corporation',
       'Tomy Corporation', 'GSP', 'Koch Media', 'Titus',
       'ASCII Entertainment', 'CTO SpA', 'TalonSoft', 'Crystal Dynamics',
       'SCi', 'Rage Software', 'Mastertronic', 'Pinnacle'], dtype=object)

In [25]:
# inspect numeric values for appropriate range
df.iloc[:,range(6,12)].describe()

,Rank,Year,North America,Europe,Japan,Rest of World,Global,Review
count,1907.0000,1907.000000,1907.000000,1907.000000,1907.000000,1907.000000,1907.000000,1907.000000
mean,954.0000,2003.773991,1.258789,0.706675,0.317493,0.206471,2.489240,79.038977
std,550.6478,5.876643,1.956560,1.148904,0.724945,0.343093,3.563159,10.616899
min,1.0000,1983.000000,0.000000,0.000000,0.000000,0.000000,0.830000,30.500000
25%,477.5000,2000.500000,0.510000,0.230000,0.000000,0.060000,1.110000,74.000000
50%,954.0000,2005.000000,0.810000,0.440000,0.020000,0.130000,1.530000,81.000000
75%,1430.5000,2008.000000,1.375000,0.810000,0.300000,0.220000,2.540000,86.230000
max,1907.0000,2013.000000,40.430000,28.390000,7.200000,8.540000,81.120000,97.000000

The records shown below have missing values. Since the missing values - Year and Publisher - can easily be obtained online via wikipedia, they will be manually filled in to obtain a cleaned dataset without any missing values.

In [11]:
# view missing values and wrong values
df.loc[(df['Year'].isna()) | (df['Publisher'].isna()) | (df['Publisher'] == 'Unknown')]

,Rank,Game Title,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Review
index,,,,,,,,,,,,
143,144,Madden NFL 2004,PS2,NaN,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23,87.00
253,254,RollerCoaster Tycoon,PC,NaN,Strategy,Unknown,3.82,0.01,0.00,0.00,3.83,87.00
286,287,WWF SmackDown!,PS,2000.0,Fighting,Unknown,2.01,1.35,0.06,0.16,3.58,81.00
301,302,FIFA Soccer 2004,PS2,NaN,Sports,Unknown,0.59,2.36,0.04,0.51,3.49,81.00
373,374,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0.00,0.41,3.00,91.00
434,435,LEGO Batman: The Videogame,Wii,NaN,Adventure,Warner Bros. Interactive Entertainment,1.59,0.86,0.00,0.27,2.72,80.00
523,524,Rock Band,X360,NaN,Misc,Electronic Arts,1.88,0.31,0.00,0.21,2.40,77.00
524,525,Frogger's Adventures: Temple of the Frog,GBA,NaN,Adventure,Unknown,2.15,0.18,0.00,0.07,2.39,69.00
573,574,LEGO Indiana Jones: The Original Adventures,Wii,NaN,Adventure,LucasArts,1.44,0.57,0.00,0.21,2.22,81.00
582,583,Call of Duty 3,Wii,NaN,Shooter,Unknown,1.13,0.82,0.00,0.23,2.18,69.91
646,647,Rock Band,Wii,NaN,Misc,MTV Games,1.31,0.54,0.00,0.20,2.05,80.13
746,747,Gran Turismo Concept 2001 Tokyo,PS2,NaN,Racing,Unknown,0.00,1.10,0.42,0.33,1.84,80.00
936,937,Rock Band,PS3,NaN,Misc,Electronic Arts,0.96,0.39,0.00,0.21,1.55,91.23
1016,1017,Triple Play 99,PS,NaN,Sports,NaN,0.81,0.55,0.00,0.10,1.46,69.72
1030,1031,Call of Duty: Black Ops,PC,NaN,Shooter,Activision,0.53,0.70,0.00,0.22,1.44,78.10
1275,1276,NASCAR Thunder 2003,PS2,NaN,Racing,Unknown,0.60,0.46,0.00,0.16,1.22,81.00
1318,1319,Hitman 2: Silent Assassin,XB,NaN,Action,Eidos Interactive,0.76,0.38,0.00,0.05,1.19,84.63
1326,1327,Dragon Warrior VII,3DS,NaN,Role-Playing,Square Enix,0.00,0.00,1.18,0.00,1.18,80.00
1386,1387,LEGO Batman: The Videogame,PSP,NaN,Adventure,Warner Bros. Interactive Entertainment,0.55,0.36,0.00,0.23,1.14,80.00
1424,1425,Rock Band,PS2,NaN,Misc,Unknown,0.71,0.30,0.00,0.11,1.11,82.00
1526,1527,Legacy of Kain: Soul Reaver,PS,NaN,Action,Eidos Interactive,0.58,0.40,0.00,0.07,1.04,88.16
1554,1555,Donkey Kong Land III,GB,NaN,Platform,Nintendo,0.68,0.31,0.00,0.04,1.03,80.00
1631,1632,Suikoden III,PS2,NaN,Role-Playing,Unknown,0.29,0.23,0.38,0.08,0.98,87.00
1676,1677,Wheel of Fortune,PS2,NaN,Misc,Unknown,0.47,0.36,0.00,0.12,0.95,55.00
1716,1717,Teenage Mutant Ninja Turtles,GBA,NaN,Platform,Unknown,0.67,0.25,0.00,0.02,0.93,69.00
1752,1753,Namco Museum,XB,NaN,Misc,Unknown,0.77,0.11,0.00,0.04,0.91,64.05
1759,1760,LEGO Harry Potter: Years 5-7,Wii,NaN,Action,Warner Bros. Interactive Entertainment,0.52,0.30,0.00,0.09,0.91,79.00
1784,1785,Blitz: The League,PS2,NaN,Sports,Unknown,0.74,0.03,0.00,0.12,0.89,77.60
1819,1820,Yakuza 4,PS3,NaN,Adventure,Sega,0.12,0.09,0.63,0.04,0.87,79.98
1899,1900,Madden NFL 07,PSP,NaN,Sports,Unknown,0.77,0.03,0.00,0.04,0.83,84.00

In [12]:
# fill in the values based on wikipedia 
df.loc[df['Rank'] == 144, 'Year'] = 2003
df.loc[df['Rank'] == 254, 'Year'] = 1999
df.loc[df['Rank'] == 254, 'Publisher'] = 'Hasbro Interactive'
df.loc[df['Rank'] == 287, 'Publisher'] = 'THQ'
df.loc[df['Rank'] == 302, 'Year'] = 2003
df.loc[df['Rank'] == 302, 'Publisher'] = 'Electronic Arts'
df.loc[df['Rank'] == 374, 'Year'] = 2005
df.loc[df['Rank'] == 374, 'Publisher'] =  'THQ'
df.loc[df['Rank'] == 435, 'Year'] = 2008
df.loc[df['Rank'] == 524, 'Year'] = 2007
df.loc[df['Rank'] == 525, 'Year'] = 2001
df.loc[df['Rank'] == 525, 'Publisher'] = 'Konami Digital Entertainment'
df.loc[df['Rank'] == 574, 'Year'] = 2008
df.loc[df['Rank'] == 583, 'Year'] = 2006
df.loc[df['Rank'] == 583, 'Publisher'] = 'Activision'
df.loc[df['Rank'] == 647, 'Year'] = 2008
df.loc[df['Rank'] == 747, 'Year'] = 2002
df.loc[df['Rank'] == 747, 'Publisher'] = 'Sony Computer Entertainment'
df.loc[df['Rank'] == 937, 'Year'] = 2007
df.loc[df['Rank'] == 1017, 'Year'] = 1998
df.loc[df['Rank'] == 1017, 'Publisher'] = 'Electronic Arts'
df.loc[df['Rank'] == 1031, 'Year'] = 2010
df.loc[df['Rank'] == 1276, 'Year'] = 2002
df.loc[df['Rank'] == 1276, 'Publisher'] = 'Electronic Arts'
df.loc[df['Rank'] == 1319, 'Year'] = 2002
df.loc[df['Rank'] == 1327, 'Year'] = 2013
df.loc[df['Rank'] == 1387, 'Year'] = 2008
df.loc[df['Rank'] == 1425, 'Year'] = 2007
df.loc[df['Rank'] == 1425, 'Publisher'] = 'MTV Games'
df.loc[df['Rank'] == 1527, 'Year'] = 1999
df.loc[df['Rank'] == 1555, 'Year'] = 1997
df.loc[df['Rank'] == 1632, 'Year'] = 2002
df.loc[df['Rank'] == 1632, 'Publisher'] = 'Konami Digital Entertainment'
df.loc[df['Rank'] == 1677, 'Year'] = 1998
df.loc[df['Rank'] == 1677, 'Publisher'] = 'Hasbro Interactive'
df.loc[df['Rank'] == 1717, 'Year'] = 2003
df.loc[df['Rank'] == 1717, 'Publisher'] = 'Konami Digital Entertainment'
df.loc[df['Rank'] == 1753, 'Year'] = 1995
df.loc[df['Rank'] == 1753, 'Publisher'] = 'Namco Bandai Games'
df.loc[df['Rank'] == 1760, 'Year'] = 2011
df.loc[df['Rank'] == 1785, 'Year'] = 2005
df.loc[df['Rank'] == 1785, 'Publisher'] = 'Midway Games'
df.loc[df['Rank'] == 1820, 'Year'] = 2010
df.loc[df['Rank'] == 1900, 'Year'] = 2006
df.loc[df['Rank'] == 1900, 'Publisher'] = 'Electronic Arts'

In [13]:
# verify that all missing values have been removed
df.loc[(df['Year'].isna()) | (df['Publisher'].isna()) | (df['Publisher'] == 'Unknown')]

Empty DataFrame
Columns: [Rank, Game Title, Platform, Year, Genre, Publisher, North America, Europe, Japan, Rest of World, Global, Review]
Index: []

The cleaned dataset will be saved as 'Video Games Sales Cleaned.csv' for future use.

In [17]:
# save the dataset
df.to_csv("Video Games Sales Cleaned.csv", index=False)